
<!DOCTYPE html>
<html lang="en">
<head>
	<title>About Developer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="~/AboutDeveloper/css/main.css">
	
	                     <!--jave script-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="~/AboutDeveloper/js/main.js"></script>

	                     <!--google font-->

	<link href='http://fonts.googleapis.com/css?family=Oswald:300,400' rel='stylesheet'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href="http://fonts.googleapis.com/css?family=Rouge+Script" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

</head>
<body>
	<!-- //////////////////////////////////////////////////////
		                 Head section
		 /////////////////////////////////////////////////////-->
	<div id="hederscrin">
		<div class="overlay-1" id="link-to-home">
			<div id="header">
				<header id="head">
					<div class="head">
						<div class="hlogo">
							<img src="~/AboutDeveloper/images/crs-logo1.png" alt="logo" />
							<h1><a href="#link-to-home" title="Home">Web designer &amp; developer</a></h1>
						</div>

							<nav class="nav">
								<ul>
									<li><a href="#link-to-home" title="home" class="active">home</a></li>
									<li><a href="#link-to-about" title="about">about</a></li>
									<li><a href="#link-to-service" title="service">service</a></li>
									<li><a href="#link-to-portfolio" title="portfolio">portfolio</a></li>
									<li><a href="#link-to-blog" title="blog">blog</a></li>
									<li><a href="#link-to-contact" title="contact">contact</a></li>
								</ul>
							</nav>
					</div>
				</header>
			</div>	

			<!--//////////////////////////////////////////////////
				                   Hoem section
				//////////////////////////////////////////////////-->

			<div id=hoemscrin >	
				<article class="home">
							<h2>Web Designing &amp; Web Development</h2>
							<p>bring your dreams to life</p>
							<div class="home-hire">
							    <p ><a href="#link-to-contact" target="_blank">hire me!</a> </p>

							    <p>@Html.ActionLink("Back To Home", "Index", "Home")</p>
							</div>
				</article>

			</div>
		</div>
	</div>

	 <!--///////////////////////////////////////////////////////////////////////
	 	                             about
	 	////////////////////////////////////////////////////////////////////////-->

	 <div id="aboutscrin">
	    <section class="about"  id="link-to-about">
	    	<h2>About</h2>
			<div class="item-img1">
	              <img src="~/AboutDeveloper/images/cteative-logo.gif" alt="logo">
	              <h3>Creative Concept</h3>
	              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nemo, inventore suscipit autem sunt, quaerat rem velit fugiat molestias hic est, nihil ad ducimus sapiente adipisci iure nesciunt eius tenetur.</p>
	        </div>
	        <div class="item-img2">
	            <img src="~/AboutDeveloper/images/design-logo.png" alt="logo">
	            <h3>Amazing Design</h3>
	              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, libero! Vel eos soluta sunt distinctio accusantium earum porro a nisi praesentium magni nihil excepturi repudiandae enim, fugit in, error aperiam.</p>
	        </div>
	        <div class="item-img3">
	            <img src="~/AboutDeveloper/images/cost-effective-logo.jpg" alt="logo">
	            <h3>Cost Effective</h3>
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id porro cum adipisci tempora eos, amet minima magnam pariatur beatae incidunt dignissimos facilis voluptate blanditiis et, debitis, quod quaerat ad! Maxime!</p>
	        </div>
	        <div class="item-img4">
	            <img src="~/AboutDeveloper/images/security-logo.png" alt="logo">
	            <h3>Secure</h3>
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique perferendis, illo quae laudantium odit ab, itaque, adipisci totam a soluta at, eos delectus. Labore dolor atque est, omnis excepturi, nemo.</p>
	        </div>

	    </section>
	</div>

	<!--///////////////////////////////////////////////////////////
		                  Service section
		///////////////////////////////////////////////////////////-->

	<div id="service">
		<section class="service" id="link-to-service">
				<h2>Service</h2>
				<article class="service1">
					<img src="~/AboutDeveloper/images/webdesign-logo.png" alt="logo">
					<header>
						<h3>Web Design and Development</h3>
					</header>
					<body>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum minus ad sunt, quae omnis libero. Esse error ad soluta ducimus neque rem, aperiam reiciendis maiores accusantium nostrum, hic vitae. Quos?
						</p>
					</body>
					<footer>
						<p><a href="#" title="Read more...">Read More...</a></p>
					</footer>
				</article>
				<article class="service2">
					<img src="~/AboutDeveloper/images/maintanence.png" alt="logo">
					<header>
						<h3>Website Maintanance</h3>
					</header>
					<body>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae porro, possimus odit animi accusamus voluptas cum aliquid similique nostrum optio illum earum nisi nesciunt impedit. Pariatur ut quaerat explicabo, at.
						</p>
					</body>
					<footer>
						<p><a href="#" title="Read more...">Read More...</a></p>
					</footer>
				</article>
				<article class="service2">
					<img src="~/AboutDeveloper/images/Domain-names-logo.jpg" alt="logo">
					<header>
						<h3>Domain and Hosting</h3>
					</header>
					<body>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ullam, doloribus quas neque amet quasi blanditiis assumenda placeat at laboriosam quia, numquam dolore harum quod nostrum, dolores tempore nemo omnis!
						</p>
					</body>
					<footer>
						<p><a href="#" title="Read more...">Read More...</a></p>
					</footer>
				</article>
		</section>
	</div>

	<!--////////////////////////////////////////////////////////////////////////
		                         Portfolio section
		 ///////////////////////////////////////////////////////////////////////-->

	<div id="portdoliosection">
		<section class="portfolio"  id="link-to-portfolio">
				<header>
					<h2>Latest works</h2>
				</header>
				<!--<content class="porject-para">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci itaque ratione error numquam temporibus sed perferendis facere voluptatem architecto. Facilis blanditiis ut quasi, voluptas rerum unde quas debitis quibusdam vero.
					</p>
				</content>-->
			<div id="project-image">
				<div class="project1">
					<a href="#" title="project1"><img src="~/AboutDeveloper/images/web-maintenance-logo.png" alt="project view"></a>
				</div>
				<div class="project1">
					<a href="#" title="project2"><img src="~/AboutDeveloper/images/web-maintenance-logo.png" alt="project view"></a>
				</div>
				<div class="project1">
					<a href="#" title="project3"><img src="~/AboutDeveloper/images/web-maintenance-logo.png" alt="project view"></a>
				</div>
				<div class="project1">
					<a href="#" title="project4"><img src="~/AboutDeveloper/images/web-maintenance-logo.png" alt="project view"></a>
				</div>
				<div class="project1">
					<a href="#" title="project5"><img src="~/AboutDeveloper/images/web-maintenance-logo.png" alt="project view"></a>
				</div>
				<div class="project1">
					<a href="#" title="project6"><img src="~/AboutDeveloper/images/web-maintenance-logo.png" alt="project view"></a>
				</div>				
				<div class="project1">
					<a href="#" title="project7"><img src="~/AboutDeveloper/images/web-maintenance-logo.png" alt="project view"></a>
				</div>
				<div class="project1">
					<a href="#" title="project8"><img src="~/AboutDeveloper/images/web-maintenance-logo.png" alt="project view"></a>
				</div>
			</div>
				<footer class="project-footer">
					<p><a href="#" title="Archive"> Archive</a></p>
				</footer>	
		</section>
	</div>
	<!--//////////////////////////////////////////////////////////////////////
		                       Bloge section
		//////////////////////////////////////////////////////////////////////-->

	<div id="blog">
	    <section class="blog" id="link-to-blog">
	        <div class="bloghead">
	            <h2>Latest from blog</h2>
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta amet sunt voluptates debitis ab ullam ratione nobis et facilis iste sed omnis sequi similique, minima reprehenderit atque aliquam dignissimos doloremque?</p>
	        </div>
	        <div class="blog-sec1">
	            <div class="blog-img">
	                <img src="~/AboutDeveloper/images/cost-effective-logo1.jpg" alt="artical image">
	            </div>
	                <h2>This is blog 1 heading</h2>

	               	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, fugiat laborum. Et consequatur, porro architecto dolorum laboriosam exercitationem officiis error, commodi quis debitis tenetur praesentium earum! Quas commodi voluptatibus quidem!</p>

	               <p> <a href="#" title="Read more">Read more...</a></p>
	        </div>
	        <div class="blog-sec2">
	            <div class="blog-img">
	                <img src="~/AboutDeveloper/images/cost-effective-logo1.jpg" alt="artical image">
	            </div>
	                <h2>This is blog 2 heading.</h2>

	               	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident ullam, debitis saepe voluptatem rerum vero consequatur ducimus dolores quis adipisci temporibus eum omnis cupiditate similique nam ad nemo modi id!</p>

	                <p><a href="#" title="Read more">Read more...</a></p>
	        </div>
	        <div class="blog-sec3">
	            <div class="blog-img">
	                <img src="~/AboutDeveloper/images/cost-effective-logo1.jpg" alt="artical image">
	            </div>
	                <h2>This is blog 3 heading</h2>

	               	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur officia qui quae, error commodi. Adipisci nostrum atque iure assumenda at nihil possimus rem maiores. Saepe est eos laborum natus ut.</p>

	                <p><a href="#" title="Read more">Read more...</a></p>
	        </div>               
	     </section>
 	</div>

     <!--///////////////////////////////////////////////////////////////
     	                              contact
     	 ///////////////////////////////////////////////////////////////-->

     <div id="contact">
     	<div class="overlay-3"  id="link-to-contact">
		    <section class="contact">
		            <header class="contacttitle">
		                <h2>Contact</h2>
		                <!-- <p>Feel Free to Contact</p> -->
		            </header>
		            <div class="sub-form">
		                <div class="contact-box">
		                    <form class="contact-form" action="form.php">
		                        <input type="text" name="name" placeholder="Name" required>
		                        <input type="email" name="email" placeholder="Email" required>
		                        <textarea rows="5" name="message" placeholder="Say Something..." required></textarea>
		                        <input type="submit" value="Send">
		                    </form>
		                </div>
		                <div class="contact-info">
			                    <p>
			                    	<i class="fa fa-map-marker"></i>
			                        <strong> Address :</strong> Mahammadpur, Dhaka-1207, Bangladesh.
			                    </p>                          
			                    <p>
			                    	<i class="fa fa-mobile"></i>
			                    	<strong> Cell No :</strong> +880 1714 863 917
			                    <p>
			                    	<i class="fa fa-envelope-o"></i>
			                        <strong> Email :</strong> chittoranjan.sarker@gmail.com
			                    </p>
		            	</div>
		            </div>
		            
	                <div class="row">
	                    <ul class="social-box">
	                         <li><a class="facebook-icon" href="https://www.facebook.com/crsarker" target="_blank"><i class="fa fa-facebook"></i></a></li>
	                        <li><a class="twitter-icon" href="https://twitter.com/chittoranjan" target="_blank"><i class="fa fa-twitter"></i></a></li>
	                        <li><a class="g-plus-icon" href="https://plus.google.com/u/0/+ChittoRanjanSarker" target="_blank"><i class="fa fa-google-plus"></i></a></li>
	                        <li><a class="linkedin-icon" href="https://www.linkedin.com/in/chitto-ranjan-sarker-94646557" target="blank"><i class="fa fa-linkedin"></i></a></li>
	                    </ul>
	                </div>
		    </section>
		</div>
	</div>

	<!--footer-->
    <footer id="site-footer">
    	<div class="site-footer">
         	 <div class="copyright">
          		<p>&copy; Dotcrs All Rights Reserved</p>
         	 </div>
        	 <div class="designed-by">
            	<p>Designed  by <a href="#wwww.dotcrs.com" title="dtocrs">Dotcrs</a></p>
        	</div>
    	</div>
    </footer>
</body>
</html>