
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="wow fadeInDown">Stock Management System</h2>
<p class="wow fadeInDown">Objectively enable leading-edge infrastructures whereas tactical imperatives. Enthusiastically disintermediate adaptive systems.</p>
<h3 class="wow fadeInDown">About Us</h3>
<p class="wow fadeInDown">
    Assertively target turnkey technologies whereas covalent ROI. Distinctively grow viral mindshare rather than collaborative meta-services. Credibly initiate performance based internal or "organic" sources with <a href="#">performance based</a> infrastructures competently.
</p>
<h3 class="wow fadeInDown">Our Mission</h3>
<p class="wow fadeInDown">Assertively target turnkey technologies whereas covalent ROI. Distinctively grow viral mindshare rather than collaborative meta-services. Credibly initiate performance based internal or "organic" sources with performance based infrastructures. Competently.</p>
<a class="btn btn-primary wow fadeInDown" href="#" role="button">Read More</a>
