/*//////////////////////////////////////////////
       01- My first website css file
 ///////////////////////////////////////////////*/

html, body {
	margin: 0;
	padding: 0;
	background-color: #FFFFF0;
}
h1, h2, h3, h4 {
	margin : 0px;
}

/*///////////////////////////////////////////////////
           02- header menu
/////////////////////////////////////////////////////*/

#hederscrin {
	background: url(../images/home-bg.gif) repeat center center fixed;

}
#header {
	position: fixed;
	width: 100%;
	height: auto;
	/*background-color: #35405f;*/
	/*background-color: rgba(144, 146, 153, 0.94);*/
	background-color: rgba(32, 178, 170, 0.86); 
	z-index: 100;
}

.hlogo img {
	width: 60px;
	height: 60px;
	float: left;
	margin: 10px 5px 5px 10px;
}
.hlogo h1 {
	padding-top : 30px;
	padding-left: 5px;
	font-family: 'Oswald', sans-serif;
	font-size: 26px;
	font-weight: 300;
	letter-spacing: 2px;
	float: left;
	text-transform: capitalize;
}
.hlogo h1 a {
	text-decoration: none;
}

.head h1 a {
	color: #fff;
}

.head h1 a:hover {
	text-decoration: underline;
}
.nav{
	padding-top: 30px;
	padding-right: 10px;
	color: #fff;
	float: right;
	text-transform: uppercase;
}

.head .nav ul li{
	display: inline-block;

}
.head .nav ul li a{
	margin-right: 10px;
	padding: 5px;
	color: #fff;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	transition: 0.6s background linear;
	border-radius: 5px;
	text-decoration: none;
}

.nav ul li a:hover {
	background-color: rgba(0, 255, 255, 0.58);
	padding: 5px;
	text-decoration: underline;
	color: #000;
	
}

/*////////////////////////////////////////////////////////////////////////
                            03 - Blur styles
///////////////////////////////////////////////////////////////////////*/

.overlay-1 {
	/* background-color: rgba(32, 30, 30, 0.52); */
	/* background-color: rgba(33, 32, 42, 0.44); */
	background-color: rgba(17, 55, 46, 0.75);
	position: relative;
}

.overlay-2 {
	padding: 60px 0;
	background-color: rgba(50, 81, 121, 0.6);
}

.overlay-3 {
	padding: 0;
	/* background-color: rgba(9, 20, 39, 0.83); */
	/* background-color: rgba(24, 77, 77, 0.93); */
	background-color: rgba(33, 103, 88, 0.9);
	height: 100%
}

.overlay {
    background: none repeat scroll 0 0 rgba(115, 224, 179, 0.72);
    width: 100%;
    height: 100%;
}


/*////////////////////////////////////////////////////////////////////////
                      04 - Home
///////////////////////////////////////////////////////////////////////*/
#hoemscrin {
	width: auto;
	height: 800px;
}
.home h2 {
	text-align: center;
	color: #FFFFFF;
	position: relative;
	padding-top: 220px;
	font-size: 80px;
    margin: 0;
    margin-bottom: 10px;  
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Niconne', cursive; */
    font-weight: 400;
    font-family: 'Rouge Script', cursive;
    line-height: 90px;
    color: #fff;
    letter-spacing: 1px;
    word-spacing: 6px;
    text-shadow: -2px -2px #000;
}

.home p {
	text-align: center;
	font-size: 22px;
	margin-bottom: 70px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 56px;
	word-spacing: 2px;
	text-shadow: 2px 2px #1C2725;
	letter-spacing: 2px;
	text-transform: capitalize;
}

.home-hire p a{
	background: transparent;
	border: 1px solid #fff;
	width: 140px;
	height:50px;
	padding: 15px;
	font-weight: bold;
	text-align: center;
}
.home-hire p a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.home-hire a:hover {
	transition: 0.9s background linear;
	background-color: rgba(0, 255, 255, 0.58);
	border-color: #fff;
	border-radius: 5px;
	color: #222;
	text-shadow: none;

}
/*/////////////////////////////////////////////////////////////////////
                      05-About Section
  /////////////////////////////////////////////////////////////////////*/
.about {
	clear: both;
	width: auto;
	height: 800px;
}
.about h2{
	color: rgb(0, 129, 129);
	
	font-weight: 400;
	
    font-size: 60px;
    font-family: 'Milonga', cursive;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: underline;
    font-family: 'Milonga', cursive;
    line-height: 90px;
    letter-spacing: 1px;
    word-spacing: 6px;
    text-shadow: -2px -2px #000;
}

.item-img1 img, .item-img2 img, .item-img3 img, .item-img4 img {
	width: 100%;
	height: 200px;

}
.item-img1, .item-img2, .item-img3, .item-img4 {
	float: left;
	width: 20.22%;
	height: auto;
	margin-left:30px;
	margin-right:30px;
	margin-bottom: 60px;
	position: relative;
	border: 2px solid silver;
}
.item-img1 h3, .item-img2 h3, .item-img3 h3, .item-img4 h3 {
	margin-left: 8px;
	font-family: arial;
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 10px;
}
.item-img1 p, .item-img2 p, .item-img3 p, .item-img4 p {
	margin: 8px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
/*///////////////////////////////////////////////////////////////////////////
                      06- Service section
  //////////////////////////////////////////////////////////////////////////*/

.service{
	clear: both;
	width: auto;
	height: 800px;
}

.service h2{
	color: rgb(0, 129, 129);
	
	font-weight: 400;
    font-size: 60px;
    font-family: 'Milonga', cursive;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: underline;
    font-family: 'Milonga', cursive;
    line-height: 90px;
    letter-spacing: 1px;
    word-spacing: 6px;
    text-shadow: -2px -2px #000;
}

.service1, .service2, .service3 {
	float: left;
	width: 24.2%;
	height: 450px;
	margin-left: 60px;
	margin-right: 60px;
}
.service1 img, .service2 img, .service3 img {
	width: 200px;
	height: 200px;
}
.service1 h3, .service2 h3, .service3 h3{
	font-family: arial;
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 10px;
	margin-left: 8px;
}
.service1 p, .service2 p, .service3 p{
	margin: 8px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
.service1 a, .service2 a, .service3 a {
	text-decoration: none;
	color: #000;
	font-size: 16px;
	
}
.service1 p a:hover, .service2 p a:hover , .service3 p a:hover  {
	background-color:  	#808080;
	padding: 5px;
	text-decoration: underline;
	border-radius: 5px;
	color: #fff;
	}

/*/////////////////////////////////////////////////////////////////
                        07- portfolio
  ////////////////////////////////////////////////////////////////*/
.portfolio{
	clear: both;
	width: auto;
	height: 800px;
}
.portfolio h2{
	text-align: center;
	color: #008080;
	font-size: 60px;
    margin: 0;
    margin-bottom: 25px;
    text-decoration: underline;  
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Niconne', cursive; */
    font-weight: 400;
    font-family: 'Milonga', cursive;
    line-height: 90px;
    letter-spacing: 1px;
    word-spacing: 6px;
    text-shadow: -2px -2px #000;
}
.porject-para p {
	margin: 20px 30px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
#project-image {
	margin-left: 30px;
	margin-right: 30px;
}
.project1{
	float: left;
	width: 24.8%;
	height: auto;
}
.project-footer{
	clear: both;
	text-align: center;
	padding-top: 25px;

}
.project-footer a {
	text-decoration: none;
	color: #008080;
	padding: 10px 35px;
	border: 2px solid #008080;
}
.project-footer a:hover{
	background-color: #008080;
	color: #fff;
	border-radius: 5px;
	text-transform: uppercase;
	transition: 0.5s background linear;
}
/*////////////////////////////////////////////////////////////////////////
                        08- Blog section
 ////////////////////////////////////////////////////////////////////////*/
.blog{
	clear: both;
	width: auto;
	height: 800px;
}
.bloghead{
	clear: both;
	margin-left: 30px;
	margin-right: 30px;
}
.bloghead h2{
	text-align: center;
	text-transform: capitalize;
	color: #008080;
	padding-top:4px;
	font-size: 50px;
    margin: 0;
    margin-bottom: 25px;  
    text-decoration: underline;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Niconne', cursive; */
    font-weight: 400;
    font-family: 'Milonga', cursive;
    line-height: 90px;
    letter-spacing: 1px;
    word-spacing: 6px;
    text-shadow: -2px -2px #000;
}
.bloghead p{
	margin: 20px 30px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}
.blog-sec1, .blog-sec2, .blog-sec3 {
	float: left;
	width: 24.2%;
	height: 450px;
	margin-left: 60px;
	margin-right: 60px;
}

.blog-sec1 img, .blog-sec2 img, .blog-sec3 img{
	width: 100%;
	height: 250px;
}
.blog-sec1 h2, .blog-sec2 h2, .blog-sec3 h2 {

	font-family: arial;
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 10px;
}
.blog-sec1 p, .blog-sec2 p, .blog-sec3 p{
	margin: 8px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
.blog-sec1 a, .blog-sec2 a, .blog-sec3 a {
	text-decoration: none;
	color: #000;
	font-size: 16px;
	margin-top: 5px;
	
}
.blog-sec1  a:hover, .blog-sec2  a:hover , .blog-sec3  a:hover  {
	background-color:  	#808080;
	padding: 5px;
	text-decoration: underline;
	border-radius: 5px;
	color: #fff;
	}
/*//////////////////////////////////////////////////////
                  09-contact form
/////////////////////////////////////////////////////*/

#contact {
	background: url(../images/contact-bg.jpg) no-repeat center fixed;
	background-size: cover;
	color: #fff;
	clear: both;
	width: 100%;
	height:620px;
}

.contacttitle h2 {
	color: #fff;
	font-weight: 400;
    font-size: 60px;
    font-family: 'Milonga', cursive;
    text-align: center;
    margin-bottom: 120px;
    text-decoration: underline;
    font-family: 'Milonga', cursive;
    line-height: 90px;
    letter-spacing: 1px;
    word-spacing: 6px;
    text-shadow: -2px -2px #000;
}

.contact-box {
	float: left;
	width: 55%;
	height: auto;
}

.contact-info {
    text-align: left;
    font-size: 16px;
    float: right;
    width: 40%;
    height: auto;
}

.contact-info i {
    width: 40px;
	height: 40px;
	color: white;
	margin-right: 5x;
	font-size: 25px;
	text-align: center;
}

.contact-info p {
	margin-left: 5px;
	width: auto;
	line-height: 43px;
	margin-top: 20px;
	font-family: 'Open Sans', sans-serif;
}

input[type="text"],
input[type="email"],
textarea {
	display: block;
	margin-left: 50px;
	width: 50%;
	background: transparent;
	border: 1px solid #ffffff;
	padding: 12px 15px;
	margin-bottom: 30px;
	color: #fff;
}

input[type="submit"] {
	background: transparent;
	border: 1px solid #fff;
	width: 120px;
	padding: 10px;
	transition: 0.5s background linear;
	font-weight: bold;
	margin-left: 50px;
}

input[type="submit"]:hover {
	background: #fff;
	border-radius: 5px;
	border-color: #fff;
	transition: 0.5s background linear;
	color: #333;

}

::-webkit-input-placeholder {
   color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}


/* ///////////////////////////////////////////////////////////////////// 
                      10 - contact > Social
/////////////////////////////////////////////////////////////////////*/
.row{
	clear: both;
	width: 100%
	height: auto;
}
.social-box {
    list-style-type: none;
    margin-left:75%;
}

.social-box li {
    display: inline-block;
    margin-right: 20px;
}

.social-box li a {
	transition: 0.5s background linear;
	color: #fff;
}

.facebook-icon {
    padding: 5px 10px;
    border: 1px solid #44619D;
    background-color: #44619D;
}

.facebook-icon:hover {
    background-color: transparent;
    color: #fff;
}

.twitter-icon {
	padding: 5px 10px;
	border: 1px solid #33CCFF;
	background-color: #33CCFF;
}

.twitter-icon:hover {
	background-color: transparent;
	color: #fff;
}

.g-plus-icon {
	padding: 5px 10px;
	border: 1px solid #DD4C39;
	background-color: #DD4C39;
}

.g-plus-icon:hover {
	background-color: transparent;
	color: #fff;
}

.linkedin-icon {
	padding: 5px 10px;
	border: 1px solid #1B86BD;
	background-color: #1B86BD;
}

.linkedin-icon:hover {
	background-color: transparent;
	color: #fff;
}


/* ///////////////////////////////////////////////////////////////////// 
                                 11 - Footer
/////////////////////////////////////////////////////////////////////*/

.site-footer {

    background-color: #35405f;
    color: #fff;
    padding: 1px;
    font-size: 14px;
    clear: both;
}

.copyright p {
	text-align: left;
	margin-left: 80px;
	float: left;
}

.designed-by p {
	text-align:right;
	margin-right: 80px;
}

.designed-by a {
	color: #fff;
}